<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="adminPageFragment ('couponPolicy')">
<head>
    <meta charset="UTF-8">
    <title>Account Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/adminPage/style.css}">
</head>
<div class="adminPage-container">
    <div th:replace="~{view/adminPage/adminSideBar :: sidebarFragment}"></div>

    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'couponPolicy')}">
        <div th:replace="~{view/coupon/admin_policy_list :: couponPolicyFragment ('couponPolicy')}"></div>
    </div>

</div>
</html>
