<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="adminPageFragment ('couponPolicy', 'adminCoupons')">
<head>
    <meta charset="UTF-8">
    <title>Account Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/adminPage/style.css}">
</head>
<div class="adminPage-container">
    <div th:replace="~{view/adminPage/adminSideBar :: sidebarFragment}"></div>

    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'couponPolicy')}">
        <div th:replace="~{view/coupon/admin_policy_list :: couponPolicyFragment ('couponPolicy')}"></div>
    </div>

    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'adminCoupons')}">
        <div th:replace="~{view/adminPage/adminCoupon :: adminPageCouponFragment ('adminCoupons')}"></div>
    </div>

    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'bookProductRegisterForm')}">
        <section th:replace="~{view/product/bookProductRegisterForm.html :: bookProductRegisterFragment}"></section>
    </div>

    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'productListPage')}">
        <section th:replace="~{view/product/productListPage.html :: productListFragment ('productList', 'mainText', 'page', 'totalPage', 'sort', 'desc')}"></section>
    </div>
</div>
</html>
