<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="sidebarFragment ()">
<meta charset="UTF-8">
<script>
    function openNewWindow(url){
        var newWindowWidth = 450;  // 새 창의 너비
        var newWindowHeight = 180; // 새 창의 높이

        var availWidth = screen.availWidth;
        var availHeight = screen.availHeight;
        var left = Math.max(0, (availWidth - newWindowWidth) / 2);
        var top = Math.max(0, (availHeight - newWindowHeight) / 2);

        var newWindow = window.open(url, "_blank", "width=" + newWindowWidth + ",height=" + newWindowHeight + ",top=" + top + ",left=" + left);

        newWindow.focus();
    }
</script>

<nav class="adminPage-sidebar">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo" data-bs-parent="#accordionExample">
                        회원 정보 관리
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" th:classappend="${activeSection == 'client' ? 'show' : ''}" aria-labelledby="headingClient" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <nav class="nav flex-column">
                            <a class="nav-link" href="#">회원 정보 수정</a>
                        </nav>
                    </div>
                </div>
            </div>
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne" data-bs-parent="#accordionExample">
                    도서
                </button>
            </h2>
            <h2 class="accordion-header" id="headingTag">
            <a class="nav-link" href="/admin/tags">태그</a>
            </h2>
            <h2 class="accordion-header" id="headingCategory">
                <a class="nav-link" href="/admin/categories">카테고리</a>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">

            <div id="collapseTwo" class="accordion-collapse collapse " th:classappend="${activeSection == 'book' || activeSection == 'product' ? 'show' : ''}" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <nav class="nav flex-column">
                        <!-- 마이리뷰/좋아요 관리 추가 -->
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                            상품
                        </button>
                        <div id="collapseThree" class="accordion-collapse show" th:classappend="${activeSection == 'product' ? 'show' : ''}" aria-labelledby="headingThree" data-bs-parent="#collapseTwo">
                            <nav class="nav flex-column ms-3">
                                <a class="nav-link" href="/admin/product/book/register">상품 추가</a>
                                <a class="nav-link" href="/admin/product/book/all">상품 수정</a>
                            </nav>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" data-bs-parent="#accordionExample">
                    주문
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" th:classappend="${activeSection == 'order' ? 'show' : ''}" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <nav class="nav flex-column">
                        <a class="nav-link" href="#">배송정책 수정</a>
                        <a class="nav-link" href="#">회원 주문내역 조회</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" data-bs-parent="#accordionExample">
                    쿠폰
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" th:classappend="${activeSection == 'coupon' ? 'show' : ''}" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <nav class="nav flex-column">
                        <a class="nav-link" href="/admin/coupon/policy">쿠폰 정책</a>
                        <a class="nav-link" href="/admin/user/coupons">유저 쿠폰 내역</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" data-bs-parent="#accordionExample">
                    포인트
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" th:classappend="${activeSection == 'point' ? 'show' : ''}" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <nav class="nav flex-column">
                        <a class="nav-link" href="/admin/point/policy">포인트 정책</a>
                        <a class="nav-link" href="/admin/point/reward">포인트 적립내역</a>
                        <a class="nav-link" href="/admin/point/use">포인트 사용내역</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" data-bs-parent="#accordionExample">
                    리뷰
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" th:classappend="${activeSection == 'review' ? 'show' : ''}" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <nav class="nav flex-column">
                        <a class="nav-link" href="#">리뷰</a>
                        <a class="nav-link" href="#">리뷰</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight" data-bs-parent="#accordionExample">
                    고객센터
                </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight " data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <nav class="nav flex-column">
                        <a class="nav-link" href="#">자주 묻는 질문 FAQ</a>
                        <a class="nav-link" href="#">1:1 고객상담</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</nav>
</html>
