<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="adminPageFragment ('couponPolicy', 'adminCoupons','pointUsed','pointReward','pointPolicy', 'adminFindOrder', 'adminShippingPolicy')">
<head>
    <meta charset="UTF-8">
    <title>Account Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/adminPage/style.css}">
</head>
<div class="adminPage-container">
    <div th:replace="~{view/adminPage/adminSideBar :: sidebarFragment}"></div>

    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'clientManager')}">
        <div th:replace="~{view/adminPage/adminClientManager :: clientManagerFragment ('clients', 'page', 'totalPage')}"></div>
    </div>

    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'couponPolicy')}">
        <div th:replace="~{view/coupon/admin_policy_list :: couponPolicyFragment ('couponPolicy')}"></div>
    </div>

    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'adminCoupons')}">
        <div th:replace="~{view/adminPage/adminCoupon :: adminPageCouponFragment ('adminCoupons')}"></div>
    </div>

    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'bookProductRegisterForm')}">
        <section th:replace="~{view/product/admin/bookProductRegisterForm.html :: bookProductRegisterFragment}"></section>
    </div>

    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'selfMadeBookRegisterForm')}">
        <section th:replace="~{view/product/admin/selfMadeBookRegisterForm.html :: selfMadeBookRegisterFragment}"></section>
    </div>

    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'packagingRegisterForm')}">
        <section th:replace="~{view/product/admin/packagingRegisterForm.html :: packagingRegisterFragment}"></section>
    </div>

    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'packagingListPage')}">
        <section th:replace="~{view/product/packagingListPage.html :: packagingListFragment}"></section>
    </div>

    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'productListPage')}">
        <section th:replace="~{view/product/productListPage.html :: productListFragment ('productList', 'mainText', 'page', 'totalPage', 'sort', 'desc')}"></section>
    </div>

    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'productBookDetail')}">
        <section th:replace="~{view/product/productBookDetail.html :: productBookDetailFragment ('book', 'reviews', 'averageScore', 'page', 'totalPage')}"></section>
    </div>

    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'tags')}">
        <section th:replace="~{view/product/admin/tags.html :: tagFragment}"></section>
    </div>

    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'categories')}">
        <section th:replace="~{view/product/admin/categories.html :: categoryFragment}"></section>
    </div>

    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'pointUsed')}">
        <section th:replace="~{view/point/adminUserUsagePoint :: adminUsedPointFragment ('pointUsed')}"></section>
    </div>
    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'pointReward')}">
        <section th:replace="~{view/point/adminUserAccumulationPoint :: adminRewardPointFragment ('pointReward')}"></section>
    </div>
    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'pointPolicy')}">
        <section th:replace="~{view/point/adminPoinPolicy.html :: adminPointPolicyFragment ('pointPolicy')}"></section>
    </div>

    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'adminFindOrder')}">
        <section th:replace="~{view/adminPage/adminFindOrder.html :: adminFindOrderFragment ('adminFindOrder')}"></section>
    </div>
    <div class="adminPage-wrapper" th:if="${adminPage != null} and ${#strings.equals(adminPage, 'adminShippingPolicy')}">
        <section th:replace="~{view/adminPage/adminShippinPolicy.html :: adminShippingPolicyFragment ('adminShippingPolicy')}"></section>
    </div>
</div>
</html>
