<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="headerFragment ('isLogin', 'message', 'categories')">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Montserrat:wght@300;400;500&display=swap"
          rel="stylesheet">

    <script th:src="@{js/jquery-1.11.0.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script type="text/javascript" th:src="@{/js/message/message.js}"></script>
    <link rel="stylesheet" th:href="@{/css/message/style.css}">
</head>
<div th:replace="~{icon/icon :: iconAsset}"></div>

<header>

    <div class="container py-2">
        <div class="row py-4 pb-0 pb-sm-4 align-items-center ">

            <div class="col-sm-4 col-lg-3 text-center text-sm-start">
                <div class="main-logo">
                    <a th:href='@{/}'>
                        <img th:src="@{/img/logo.png}" alt="logo" class="img-fluid" width="90px" height="90px">
                    </a>
                </div>
            </div>

            <div class="col-sm-6 offset-sm-2 offset-md-0 col-lg-5 d-none d-lg-block">
                <div class="search-bar border rounded-2 px-3 border-dark-subtle">
                    <form id="search-form" class="text-center d-flex align-items-center" action="/product/books/containing" method="get">
                        <input type="text" name="title" class="form-control border-0 bg-transparent"
                               placeholder="Search for more than various books" />
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                  d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z" />
                        </svg>
                    </form>
                </div>
            </div>

            <div
                    class="col-sm-8 col-lg-4 d-flex justify-content-end gap-5 align-items-center mt-4 mt-sm-0 justify-content-center justify-content-sm-end">
                <div class="support-box text-end d-none d-xl-block">
                    <span th:if="${isLogin == null}" class="fs-6 secondary-font text-muted" ><a href="/auth">로그인 / 회원가입</a></span>
                    <span th:if="${isLogin != null}" class="fs-6 secondary-font text-muted" ><a href="/logout">로그아웃</a></span>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <hr class="m-0">
    </div>

    <div class="container">
        <nav class="main-menu d-flex navbar navbar-expand-lg ">

            <div class="d-flex d-lg-none align-items-end mt-3">
                <ul class="d-flex justify-content-end list-unstyled m-0">
                    <li>
                        <a th:href="${isLogin == null ? '/auth' : '/mypage'}" class="mx-3">
                            <iconify-icon icon="healthicons:person" class="fs-4"></iconify-icon>
                        </a>
                    </li>
                    <li>
                        <a href="wishlist.html" class="mx-3">
                            <iconify-icon icon="mdi:heart" class="fs-4"></iconify-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="mx-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart"
                           aria-controls="offcanvasCart">
                            <iconify-icon icon="mdi:cart" class="fs-4 position-relative"></iconify-icon>
                            <span class="position-absolute translate-middle badge rounded-circle bg-primary pt-2">
                  03
                </span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="mx-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch"
                           aria-controls="offcanvasSearch">
                            <iconify-icon icon="tabler:search" class="fs-4"></iconify-icon>
                            </span>
                        </a>
                    </li>
                </ul>

            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

                <div class="offcanvas-header justify-content-center">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body justify-content-between">
                    <!--          category          -->
                    <div class="coupang-category-menu">
                        <button class="category-menu-button">Category</button>
                        <div th:if="${categories != null}" class="category-menu-content">
                            <ul class="category-list">
                                <li th:each="category : ${categories.children}" class="category-item"
                                    th:attr="data-category-id=${category.productCategoryId}">
                                    <a th:href="@{'/product/books/category/' + ${category.productCategoryId}}" class="category-link" th:text="${category.categoryName}"></a>
                                    <div th:if="${not #lists.isEmpty(category.children)}" class="sub-category-wrapper">
                                        <ul class="sub-category-list">
                                            <li th:each="subCategory : ${category.children}" class="sub-category-item">
                                                <a th:href="@{'/product/books/category/' +${subCategory.productCategoryId}}" class="sub-category-link" th:text="${subCategory.categoryName}"></a>
                                                <ul th:if="${not #lists.isEmpty(subCategory.children)}" class="sub-sub-category-list">
                                                    <li th:each="subSubCategory : ${subCategory.children}" class="sub-sub-category-item">
                                                        <a th:href="@{'/product/books/category/' + ${subSubCategory.productCategoryId}}" class="sub-sub-category-link" th:text="${subSubCategory.categoryName}"></a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <ul class="navbar-nav menu-list list-unstyled d-flex gap-md-3 mb-0">
                        <li class="nav-item">
                            <a href="/" class="nav-link active">Home</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/product/books?page=1&sort=product.productViewCount&desc=true}" class="nav-link">인기 도서</a>
                        </li>
                        <li class="nav-item">
                            <a href="/product/books?page=1&sort=pubDate&desc=true" class="nav-link">신간 도서</a>
                        </li>
                        <li class="nav-item">
                            <a href="blog.html" class="nav-link">Event</a>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link">Policy</a>
                        </li>

                    </ul>

                    <div class="d-none d-lg-flex align-items-end">
                        <ul class="d-flex justify-content-end list-unstyled m-0">
                            <li>
                                <a th:href="${isLogin == null ? '/auth' : '/mypage'}" class="mx-3">
                                    <iconify-icon icon="healthicons:person" class="fs-4"></iconify-icon>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/auth}" class="mx-3">
                                    <iconify-icon icon="mdi:heart" class="fs-4"></iconify-icon>
                                </a>
                            </li>

                            <li class="">
                                <a href="/cart/all" class="mx-3"
                                   target="_self">

<!--                                   data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart"-->
<!--                                   aria-controls="offcanvasCart" -->
                                    <iconify-icon icon="mdi:cart" class="fs-4 position-relative"></iconify-icon>
                                    <span class="position-absolute translate-middle badge rounded-circle bg-primary pt-2">
                      <div th:text="${cart != null ? cart.size() : 0}"></div>
                    </span>
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>

            </div>

        </nav>

        <div th:if="${message}" class="message-box" id="messageBox">
            <span> message : </span><span th:text="${message}"></span>
        </div>

    </div>
</header>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var categoryItems = document.querySelectorAll('.category-item');

        categoryItems.forEach(function(item) {
            item.addEventListener('click', function(e) {
                if (window.innerWidth <= 768) {  // 모바일 환경
                    e.preventDefault();
                    var subMenu = this.querySelector('.sub-category-wrapper');
                    if (subMenu) {
                        subMenu.style.display = subMenu.style.display === 'block' ? 'none' : 'block';
                    }
                }
            });
        });
    });
</script>
</html>