<!DOCTYPE html>
<html lang="en" th:fragment="clientOrderFragment()">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>V2 회원 주문 페이지</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        h3 {
            color: #ecb54f !important; /* !important를 사용하여 우선순위를 높입니다 */
        }
        .sub-container {
            margin: 10% 5% 10% 5%;
        }
        .readonly-input {
            width: 100%;
            border: none;
            background-color: transparent;
            color: inherit;
            font-size: inherit;
            font-family: inherit;
        }
        input:focus {
            outline: none;
        }
        textarea:focus {
            outline: none;
            resize: none;
        }
    </style>
</head>
<body>

<form th:action="@{/api/client/orders}" th:object="${clientOrderForm}" method="post">

    <div class="sub-container">
        <h3>주문 상품 목록</h3>
        <table class="table table-striped" id="order-item-table" th:border="1">
            <thead>
            <tr>
                <th style="width: 40%">상품명</th>
                <th style="width: 10%">상품가격</th>
                <th style="width: 10%">수량</th>
                <th style="width: 30%">포장여부</th>
            </tr>
            </thead>
            <tbody id="orderItemList">
            <tr th:each="orderDetailDto, iterStat:*{orderDetailDtoItemList}"
                th:attr="data-product-id=${orderDetailDto.productId},
                             data-product-index=${iterStat.index},
                             data-product-price=${orderDetailDto.productSinglePrice},
                             data-product-quantity=${orderDetailDto.quantity}">
                <td>
                    <label style="width: 100%;">
                        <textarea type="text" class="readonly-input" th:field="*{orderDetailDtoItemList[__${iterStat.index}__].productName}" readonly></textarea>
                    </label>
                </td>
                <td>
                    <label>
                        <input type="text" class="readonly-input" th:field="*{orderDetailDtoItemList[__${iterStat.index}__].productSinglePrice}" readonly/>
                    </label>
                </td>
                <td>
                    <label>
                        <input type="text" class="readonly-input" th:field="*{orderDetailDtoItemList[__${iterStat.index}__].quantity}" readonly/>
                    </label>
                </td>
                <td hidden="hidden">
                    <label>
                        <input type="text" th:field="*{orderDetailDtoItemList[__${iterStat.index}__].productId}" th:value="${orderDetailDto.productId}"/>
                    </label>
                </td>
                <td th:hidden="!${orderDetailDto.packableProduct}">
                    <label>
                        <input type="checkbox" th:onclick="handleOnChangeUsedPackaging(this.checked, [[${iterStat.index}]])" th:field="*{orderDetailDtoItemList[__${iterStat.index}__].usePackaging}" th:value="false"> 포장지선택
                        <input hidden="hidden" th:field="*{orderDetailDtoItemList[__${iterStat.index}__].optionProductId}"/>
                        <input hidden="hidden" th:field="*{orderDetailDtoItemList[__${iterStat.index}__].optionProductName}"/>
                        <input hidden="hidden" th:field="*{orderDetailDtoItemList[__${iterStat.index}__].optionProductSinglePrice}"/>
                    </label>
                    <div hidden="hidden" th:id="'packageSelectContainer[' + ${iterStat.index} + ']'">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" th:onchange="handleOnPackageProductSelectChange(this, [[${iterStat.index}]])">
                            <option th:attr="data-option-product-id = '-1',
                                                 data-option-product-price = '0'">
                                == 포장지 선택 ==
                            </option>
                            <option th:each="packageDto : ${packageList}" th:value="${packageDto.productId}" th:text="${packageDto.packageName} + ' - ' + ${packageDto.productPriceSales} + '원'"
                                    th:attr="data-option-product-id = ${packageDto.productId},
                                                 data-option-product-price=${packageDto.productPriceSales},
                                                 data-option-product-name=${packageDto.packageName}"
                            >
                            </option>
                        </select>
                    </div>
                </td>
                <td th:hidden="${orderDetailDto.packableProduct}">
                    포장불가능한 상품입니다
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="sub-container">
        <h3>예상 결제가격</h3>
        <div>(<span id="minPurchasePrice" th:text="${shippingPolicy.minPurchaseAmount}"></span>원 이상 구매시 무료배송)</div>
        <div>
            <span>배송비: </span>
            <span>
                <label>
                    <input class="readonly-input" th:field="*{shippingFee}" readonly/>
                </label>
            </span>
        </div>
        <div>
            <span>상품 총 금액: </span>
            <span>
                <label>
                    <input class="readonly-input" th:field="*{productTotalAmount}" readonly/>
                </label>
            </span>
        </div>
        <div>
            <span>쿠폰 할인 금액: </span>
            <span>
                <label>
                    <input class="readonly-input" th:field="*{couponDiscountAmount}" readonly/>
                </label>
            </span>
        </div>
        <div>
            <span>포인트 사용 금액: </span>
            <span>
                <label>
                    <input class="readonly-input" th:field="*{usedPointDiscountAmount}" readonly/>
                </label>
            </span>
        </div>
        <div>
            <span>최종 결제 금액: </span>
            <span>
                <label>
                    <input class="readonly-input" th:field="*{payAmount}" readonly/>
                </label>
            </span>
        </div>
    </div>

    <div class="sub-container">
        <h3>쿠폰 적용</h3>
        <div class="coupons">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#couponSelectModal" id="use-coupon" style="font-size: small; padding: 0; height: 30px; width: 90px">쿠폰 선택하기</button>
            <div id="selectedCouponForm"></div>
        </div>
        <div id="selectedCouponInfo">
            <div>(쿠폰 중복 적용 불가합니다)</div>
            <div class="border border-secondary-subtle rounded" style="width: 60%; padding: 1%; margin: 1%" hidden="hidden"></div>
        </div>
    </div>

    <div class="sub-container">
        <h3>포인트 사용</h3>
        <div class="remaining-points">
            <label for="remaining-points"> 사용 가능 포인트: </label>
            <span id="remaining-points" th:value="${usablePoint}"></span>
        </div>
        <div class="use-points">
            <label th:for="usedPointDiscountAmount"> 사용할 포인트:
                <input type="number" th:field="*{usedPointDiscountAmount}" min="0" oninput="validatePoints()" value="0"/>
            </label>
            <button type="button" class="btn btn-outline-primary" onclick="handleOnChange()" style="font-size: small; padding: 0; height: 30px; width: 90px">적용하기</button>
        </div>
        <div id="error-message" style="color: red; display: none;">
            사용할 포인트는 총 잔여 포인트보다 많을 수 없습니다.
        </div>
    </div>

    <div class="sub-container">
        <h3>주문정보</h3>
        <div style="direction: ltr">
            <span>주문자:</span>
            <span>
                <label>
                    <input class="readonly-input" th:field="*{orderedPersonName}" type="text" readonly/>
                </label>
            </span>
        </div>
        <div>
            <span>배송지</span>
            <span class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addressRegisterModal" style="font-size: small; padding: 0; height: 30px; width: 90px">주소등록</button>
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addressSelectModal" style="font-size: small; padding: 0; height: 30px; width: 90px">주소선택</button>
            </span>
        </div>
        <div id="selectedAddressInfo">
            <div>(필수) 주소를 선택해 주세요</div>
            <div class="border border-secondary-subtle rounded" style="width: 60%; padding: 1%; margin: 1%" hidden="hidden">
                <div>
                    <label>
                        <input class="readonly-input" th:field="*{addressNickname}" readonly/>
                    </label>
                </div>
                <div>
                    <label>
                        <input class="readonly-input" th:field="*{addressZipCode}" readonly/>
                    </label>
                </div>
                <div>
                    <label style="width: 100%">
                        <input class="readonly-input" th:field="*{deliveryAddress}" readonly/>
                    </label>
                </div>
            </div>
        </div>
        <div>전화번호
            <span class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#phoneNumberRegisterModal" style="font-size: small; padding: 0; height: 30px; width: 90px">번호등록</button>
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#phoneNumberSelectModal" style="font-size: small; padding: 0; height: 30px; width: 90px">번호선택</button>
            </span>
        </div>
        <div id="selectedPhoneNumberForm">
            <div>(필수) 전화번호를 선택해 주세요</div>
            <div class="border border-secondary-subtle rounded" style="width: 30%; padding: 1%; margin: 1%" hidden="hidden">
                <div>
                    <label>
                        <input class="readonly-input" th:field="*{phoneNumber}" readonly/>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="sub-container">
        <h3>배송날짜 지정</h3>
        <label>
            <input type="checkbox" th:field="*{useDesignatedDeliveryDate}" onclick="toggleCalendar(this.checked, 'designatedDeliveryDate')"> (선택) 배송날짜를 지정합니다
            <div>(배송날짜를 지정하지 않을 경우 가장 빠른 날짜에 배송됩니다)</div>
        </label>
        <br/>
        <label th:for="designatedDeliveryDate">
            <input type="date" th:field="*{designatedDeliveryDate}" value="" hidden="hidden"/>
        </label>
    </div>

    <div class="sub-container">
        <h3>예상 적립 금액</h3>
        <div>
            <span th:field="*{accumulatePoint}"></span>원
        </div>
    </div>

    <div class="sub-container">
        <div>
            <h3>결제 수단 선택</h3>
            <label>
                <input type="radio" th:field="*{paymentMethod}" value="0"> 토스 페이먼츠
            </label>
            <label>
                <input type="radio" name="paymentMethodId" value="1" disabled> 신용카드
            </label>
            <label>
                <input type="radio" name="paymentMethodId" value="2" disabled> 페이코
            </label>
        </div>
    </div>

    <div class="sub-container">
        <button type="submit" class="btn text-white" style="background-color:#ecb54f; width: 15%;" onclick="tryOrder()">결제하기</button>
    </div>

    <!-- 주소선택 Modal -->
    <div class="modal fade" id="addressSelectModal" tabindex="-1" aria-labelledby="addressSelectModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addressSelectModalModalLabel">주소를 선택해 주세요</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="border border-secondary-subtle rounded" th:each="clientAddressDto, iterStat : ${deliveryAddressList}" style="margin: 10px; padding: 10px">
                        <div id="addressForm">
                            <div>[[${clientAddressDto.clientDeliveryAddressNickname}]]</div>
                            <div>[[${clientAddressDto.clientDeliveryZipCode}]]</div>
                            <div>[[${clientAddressDto.clientDeliveryAddress}]]</div>
                            <div>[[${clientAddressDto.clientDeliveryAddressDetail}]]</div>
                        </div>
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" onclick="handleSelectAddress(this.previousElementSibling)">선택</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 번호선택 Modal -->
    <div class="modal fade" id="phoneNumberSelectModal" tabindex="-1" aria-labelledby="phoneNumberSelectModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="phoneNumberSelectModalModalLabel">전화번호를 선택해 주세요</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="border border-secondary-subtle rounded" th:each="phoneNumberDto, iterStat : ${phoneNumberList}" style="margin: 10px; padding: 10px">
                        <div id="phoneNumberForm">
                            <div>[[${phoneNumberDto.clientPhoneNumber}]]</div>
                        </div>
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" onclick="handleSelectPhoneNumber(this.previousElementSibling)">선택</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--쿠폰선택 Modal-->
    <div class="modal fade" id="couponSelectModal" tabindex="-1" aria-labelledby="couponSelectModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="couponSelectModalLabel">쿠폰을 선택해 주세요</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="border border-secondary-subtle rounded" th:each="coupon, iterStat : ${couponList}" style="margin: 10px; padding: 10px">
                        <div class="couponForm">
                            <div>
                                [[${coupon.couponPolicy.couponPolicyDescription}]]
                            </div>
                            <div>할인금액:
                                <span th:if="${coupon.couponPolicy.discountType == 'AMOUNTDISCOUNT'}"><span>[[${coupon.couponPolicy.discountValue}]]</span>원</span>
                                <span th:if="${coupon.couponPolicy.discountType == 'PERCENTAGEDISCOUNT'}"><span>[[${coupon.couponPolicy.discountValue}]]</span>%</span>
                            </div>
                            <div>최소구매금액: <span>[[${coupon.couponPolicy.minPurchaseAmount}]] 원</span></div>
                            <div th:if="${coupon.couponPolicy.discountType == 'PERCENTAGEDISCOUNT'}">최대 할인 금액: <span>[[${coupon.couponPolicy.maxDiscountAmount}]] 원</span></div>
                        </div>
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" th:onclick="handleSelectCoupon([[${coupon}]])">선택</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script th:inline="javascript">

    document.addEventListener('DOMContentLoaded', function (){
        // 캘린더 선택 가능 날짜 초기화
        document.querySelector("input[type=date]").min = getMinDeliveryDate();
        // 가격 정보 업데이트
        updateProductTotalAmount();
        updateShippingFee();
        updatePayAmount();
    });

    <!--포장여부 선택 관련-->
    function handleOnChangeUsedPackaging(checked, index){
        const packageSelectContainer = document.getElementById("packageSelectContainer[" + index + "]");
        packageSelectContainer.hidden = !checked;
        if(checked) {
            packageSelectContainer.querySelector('select').selectedIndex = 0;
        }
        document.getElementById("orderDetailDtoItemList" + index + ".optionProductId").value = null;
        document.getElementById("orderDetailDtoItemList" + index + ".optionProductName").value = null;
        document.getElementById("orderDetailDtoItemList" + index + ".optionProductSinglePrice").value = 0;
        updateProductTotalAmount();
        updateShippingFee();
        updatePayAmount();
    }

    <!--포장 옵션 상품선택 변경 관련-->
    function handleOnPackageProductSelectChange(selectElement, index){
        const selectedOption = selectElement.options[selectElement.selectedIndex];
        document.getElementById("orderDetailDtoItemList" + index + ".optionProductId").value = selectedOption.dataset.optionProductId;
        document.getElementById("orderDetailDtoItemList" + index + ".optionProductName").value = selectedOption.dataset.optionProductName;
        document.getElementById("orderDetailDtoItemList" + index + ".optionProductSinglePrice").value = selectedOption.dataset.optionProductPrice;
        updateProductTotalAmount();
        updateShippingFee();
        updatePayAmount();
    }

    <!--캘린더 관련-->
    function getMinDeliveryDate(){
        const tomorrow = new Date();
        tomorrow.setDate(tomorrow.getDate() + 1);
        const year = tomorrow.getFullYear();
        const month = String(tomorrow.getMonth() + 1).padStart(2, '0');
        const day = String(tomorrow.getDate()).padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    function toggleCalendar(checked, calendar){
        document.getElementById(calendar).hidden = !checked;
    }

    <!--포인트 관련-->
    function validatePoints() {
        const remainingPoints = parseInt(document.getElementById('remaining-points').textContent);
        const usePoints = parseInt(document.getElementById('use-points').value);
        const errorMessage = document.getElementById('error-message');
        if (usePoints > remainingPoints) {
            errorMessage.style.display = 'block';
            document.getElementById('use-points').value = remainingPoints;
        } else {
            errorMessage.style.display = 'none';
        }
        updateCurrentData();
    }

    <!--주소 선택 관련-->
    function handleSelectAddress(selectedClientAddressDto) {
        showSelectedAddressInfo();
        updateSelectedAddressInfoData(selectedClientAddressDto);
    }

    function showSelectedAddressInfo() {
        const selectedAddressInfo = document.getElementById("selectedAddressInfo");
        selectedAddressInfo.children[0].hidden = true;
        selectedAddressInfo.children[1].hidden = false;
    }

    function updateSelectedAddressInfoData(selectedClientAddressElement) {
        document.getElementById("addressNickname").value = selectedClientAddressElement.children[0].innerText;
        document.getElementById("addressZipCode").value = selectedClientAddressElement.children[1].innerText;
        document.getElementById("deliveryAddress").value = selectedClientAddressElement.children[2].innerText + ", " +  selectedClientAddressElement.children[3].innerText;
    }

    <!--번호 선택 관련-->
    function handleSelectPhoneNumber(phoneNumberElement){
        showSelectedPhoneNumberInfo();
        updateSelectedPhoneNumberInfoData(phoneNumberElement);
    }

    function showSelectedPhoneNumberInfo(){
        const selectedPhoneNumberInfo = document.getElementById("selectedPhoneNumberForm")
        selectedPhoneNumberInfo.children[0].hidden = true;
        selectedPhoneNumberInfo.children[1].hidden = false;
    }

    function updateSelectedPhoneNumberInfoData(phoneNumberElement){
        document.getElementById("phoneNumber").value = phoneNumberElement.children[0].innerText;
    }

    <!--금액 관련-->
    function updateShippingFee(){
        const originShippingFee = [[${shippingPolicy.shippingFee}]];
        const minPurchaseAmount = [[${shippingPolicy.minPurchaseAmount}]];
        const productTotalAmount = document.getElementById("productTotalAmount").value;
        if(productTotalAmount >= minPurchaseAmount){
            document.getElementById("shippingFee").value = 0;
        }else{
            document.getElementById("shippingFee").value = originShippingFee;
        }
        updatePayAmount();
    }

    function updateProductTotalAmount(){
        let totalPrice = 0;
        document.querySelectorAll('tr[data-product-index]').forEach(function(row, index) {
            // 순수 상품 총 가격
            const price = parseInt(row.dataset.productPrice);
            const quantity = parseInt(row.dataset.productQuantity);
            const subtotal = price * quantity;
            totalPrice += subtotal;
            // 포장지 총 가격
            const checkBox = row.querySelector('input[type="checkbox"]');
            if(checkBox.checked){
                const optionProductPrice = parseInt(document.getElementById("orderDetailDtoItemList" + index + ".optionProductSinglePrice").value);
                totalPrice += optionProductPrice;
            }
        });
        document.getElementById("productTotalAmount").value = totalPrice
    }

    function updatePayAmount(){
        let pointDiscountAmount = document.getElementById("usedPointDiscountAmount").value;
        let couponDiscountAmount = document.getElementById("couponDiscountAmount").value;
        const shippingFee = parseInt(document.getElementById("shippingFee").value);
        const productTotalAmount = parseInt(document.getElementById("productTotalAmount").value);

        if(pointDiscountAmount == null) pointDiscountAmount = 0;
        if(couponDiscountAmount == null) couponDiscountAmount = 0;

        console.log("shippingFee: ", shippingFee);
        console.log("productTotalAmount: ", productTotalAmount);
        console.log("pointDiscountAmount: ", pointDiscountAmount);
        console.log("couponDiscountAmount: ", couponDiscountAmount);

        // 최종 결제 금액
        document.getElementById("payAmount").value = productTotalAmount + shippingFee - pointDiscountAmount - couponDiscountAmount;
    }

</script>
</body>
</html>