<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="clientOrderDiscountFragment()">
<head>
    <meta charset="UTF-8">
    <title>회원 주문 할인 정보 입력 페이지</title>
    <style>
        h3 {
            color: #ecb54f !important; /* !important를 사용하여 우선순위를 높입니다 */
        }
        .sub-container {
            margin: 10% 5% 10% 5%;
        }
        .readonly-input {
            width: 100%;
            border: none;
            background-color: transparent;
            color: inherit;
            font-size: inherit;
            font-family: inherit;
        }
        input:focus {
            outline: none;
        }
        textarea:focus {
            outline: none;
            resize: none;
        }
        .not-border-input {
            width: 100%;
            border: none;
            background-color: transparent;
            color: inherit;
            font-size: inherit;
            font-family: inherit;
        }
        label {
            width: 100%;
        }
    </style>
</head>
<body>

<form action="/client/order-pay-method" th:object="${clientOrderDiscountForm}" method="post">

    <div class="sub-container">
        <h3>쿠폰 적용</h3>
        <div>
            <span>쿠폰 할인 금액: </span>
            <span>
                    <label>
                        <input class="readonly-input" th:field="*{couponDiscountAmount}" th:value="0" readonly/>
                    </label>
                </span>
        </div>
        <div>
            <span>포인트 사용 금액: </span>
            <span>
                    <label>
                        <input class="readonly-input" th:field="*{usedPointDiscountAmount}" th:value="0" readonly/>
                    </label>
                </span>
        </div>
        <div>
            <span>예상 결제 금액: </span>
            <span>
                    <label>
                        <input class="readonly-input" th:field="*{payAmount}" readonly/>
                    </label>
                </span>
        </div>
    </div>

    <div class="sub-container">
        <h3>쿠폰 적용</h3>
        <div class="coupons">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#couponSelectModal" id="use-coupon" style="font-size: small; padding: 0; height: 30px; width: 90px">쿠폰 선택하기</button>
            <div id="selectedCouponForm"></div>
        </div>
        <div id="selectedCouponInfo">
            <div>(쿠폰 중복 적용 불가합니다)</div>
            <div class="border border-secondary-subtle rounded" style="width: 60%; padding: 1%; margin: 1%" hidden="hidden"></div>
        </div>
    </div>

    <div class="sub-container">
        <h3>포인트 사용</h3>
        <div class="remaining-points">
            <label for="remaining-points"> 사용 가능 포인트: </label>
            <span id="remaining-points" th:text="${usablePoint}"></span>
        </div>
        <div class="use-points">
            <label th:for="usedPointDiscountAmount"> 사용할 포인트:
                <input type="number" id="inputUsedPointAmount" min="0" th:value="0"/>
            </label>
            <button type="button" class="btn btn-outline-primary" onclick="applyPoints()" style="font-size: small; padding: 0; height: 30px; width: 90px">적용하기</button>
        </div>
        <div id="exceed-remaining-point-message" style="color: red; display: none;">
            사용할 포인트는 총 잔여 포인트보다 많을 수 없습니다.
        </div>
        <div id="negative-amount-message" style="color: red; display: none;">
            결제 금액이 0원 미만일 수 없습니다.
        </div>
    </div>

    <!-- 주소선택 Modal -->
    <div class="modal fade" id="addressSelectModal" tabindex="-1" aria-labelledby="addressSelectModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addressSelectModalModalLabel">주소를 선택해 주세요</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="border border-secondary-subtle rounded" th:each="clientAddressDto, iterStat : ${deliveryAddressList}" style="margin: 10px; padding: 10px">
                        <div id="addressForm">
                            <div>[[${clientAddressDto.clientDeliveryAddressNickname}]]</div>
                            <div>[[${clientAddressDto.clientDeliveryZipCode}]]</div>
                            <div>[[${clientAddressDto.clientDeliveryAddress}]]</div>
                            <div>[[${clientAddressDto.clientDeliveryAddressDetail}]]</div>
                        </div>
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" onclick="handleSelectAddress(this.previousElementSibling)">선택</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 번호선택 Modal -->
    <div class="modal fade" id="phoneNumberSelectModal" tabindex="-1" aria-labelledby="phoneNumberSelectModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="phoneNumberSelectModalModalLabel">전화번호를 선택해 주세요</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="border border-secondary-subtle rounded" th:each="phoneNumberDto, iterStat : ${phoneNumberList}" style="margin: 10px; padding: 10px">
                        <div id="phoneNumberForm">
                            <div>[[${phoneNumberDto.clientPhoneNumber}]]</div>
                        </div>
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" onclick="handleSelectPhoneNumber(this.previousElementSibling)">선택</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--쿠폰선택 Modal-->
    <div class="modal fade" id="couponSelectModal" tabindex="-1" aria-labelledby="couponSelectModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="couponSelectModalLabel">쿠폰을 선택해 주세요</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="border border-secondary-subtle rounded" th:each="coupon, iterStat : ${couponList}" style="margin: 10px; padding: 10px">
                        <div class="couponForm">
                            <div>
                                [[${coupon.couponPolicy.couponPolicyDescription}]]
                            </div>
                            <div>할인금액:
                                <span th:if="${coupon.couponPolicy.discountType == 'AMOUNTDISCOUNT'}"><span>[[${coupon.couponPolicy.discountValue}]]</span>원</span>
                                <span th:if="${coupon.couponPolicy.discountType == 'PERCENTAGEDISCOUNT'}"><span>[[${coupon.couponPolicy.discountValue}]]</span>%</span>
                            </div>
                            <div>최소구매금액: <span>[[${coupon.couponPolicy.minPurchaseAmount}]] 원</span></div>
                            <div th:if="${coupon.couponPolicy.discountType == 'PERCENTAGEDISCOUNT'}">최대 할인 금액: <span>[[${coupon.couponPolicy.maxDiscountAmount}]] 원</span></div>
                        </div>
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" th:onclick="handleSelectCoupon([[${coupon}]])" disabled=>선택</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit">next</button>
</form>
</body>
</html>