<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="clientOrderPayMethodFragment()">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>회원 주문 결제수단 선택 페이지</h1>
<form action="/client/order-pay-method" method="post">
    <div class="sub-container">
        <h3>예상 적립금</h3>
    </div>
    <div class="sub-container">
        <h3>최종 결제금액</h3>
    </div>
    <div class="sub-container">
        <h3>결제수단</h3>
    </div>
    <button type="submit">next</button>
</form>
</body>
</html>