<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="clientOrderFragment()"
      xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>회원 주문 페이지</title>
  <script type="text/javascript" th:src="@{/js/clientOrder/order.js}"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
        crossorigin="anonymous">
  <style>

    .order-container{
      display: flex;
      flex-direction: row;
    }

    .sub-container {
      display: flex;
      flex-direction: column;
      margin: 5%;
    }

    .left-sub-container {
      flex: 2;
    }

    .right-sub-container {
      flex: 1;
    }

    .readonly-input {
      width: 100%;
      border: none;
      background-color: transparent;
      color: inherit;
      font-size: inherit;
      font-family: inherit;
    }

    .yellow-btn{
      border-color: #e9b775;
      color: #e9b775;
    }

    .yellow-btn:hover {
      background-color: #e9b775;
      color: white;
      border-color: #e9b775;
    }

    input:focus {
      outline: none;
    }

    textarea:focus {
      outline: none;
      resize: none;
    }

    button:hover {
      background-color: #e9b775;
    }

    hr {
      margin-bottom: 5%;
      margin-top: 5%;
    }

    h4 {
      margin-bottom: 15px;
    }

  </style>
</head>
<body>
<script>
  function openPackagingPage() {
    window.open('/product/packaging/page', '_blank');
  }
</script>

<form action="/client/order/process" th:object="${clientOrderForm}" method="post" onsubmit="return checkValidate(this)">
  <span hidden="hidden" id="orderDetailDtoItemList" th:attr="data-item-list=${itemList}"></span>

  <div class="order-container">

    <div class="sub-container left-sub-container">

      <div>
        <h4>주문 상품 목록</h4>
        <button type="button" style="border-radius: 10px; border: none; background-color: #e9b775; float: right" onclick="openPackagingPage()">포장지 조회하기</button>
        <label>
          <input hidden="hidden" type="number" th:field="*{totalQuantity}">
        </label>
        <table class="table table-striped" id="order-item-table" th:border="1">
          <thead>
          <tr>
            <th style="width: 40%">상품명</th>
            <th style="width: 10%">상품가격</th>
            <th style="width: 10%">수량</th>
            <th style="width: 30%">포장여부</th>
          </tr>
          </thead>
          <tbody id="orderItemList">
          <tr th:each="orderDetailDto, iterStat:*{orderDetailDtoItemList}"
              th:attr="data-product-id=${orderDetailDto.productId},
                             data-product-index=${iterStat.index},
                             data-product-price=${orderDetailDto.productSinglePrice},
                             data-product-quantity=${orderDetailDto.quantity}">
            <td>
              <label style="width: 100%;">
            <textarea type="text" class="readonly-input"
                      th:field="*{orderDetailDtoItemList[__${iterStat.index}__].productName}"
                      readonly></textarea>
              </label>
            </td>
            <td>
              <label>
                <input type="text" class="readonly-input"
                       th:field="*{orderDetailDtoItemList[__${iterStat.index}__].productSinglePrice}"
                       readonly/>
              </label>
            </td>
            <td>
              <label>
                <input type="text" class="readonly-input"
                       th:field="*{orderDetailDtoItemList[__${iterStat.index}__].quantity}" readonly/>
              </label>
            </td>
            <td hidden="hidden">
              <label>
                <input type="text" th:field="*{orderDetailDtoItemList[__${iterStat.index}__].productId}"
                       th:value="${orderDetailDto.productId}"/>
              </label>
            </td>
            <td th:hidden="!${orderDetailDto.packableProduct}">
              <label>
                <input type="checkbox"
                       th:onchange="handleOnChangeUsedPackaging(this.checked, [[${iterStat.index}]])"
                       th:field="*{orderDetailDtoItemList[__${iterStat.index}__].usePackaging}"
                       th:value="false"> 포장지선택
                <input hidden="hidden"
                       th:field="*{orderDetailDtoItemList[__${iterStat.index}__].optionProductId}"/>
                <input hidden="hidden"
                       th:field="*{orderDetailDtoItemList[__${iterStat.index}__].optionProductName}"/>
                <input hidden="hidden"
                       th:field="*{orderDetailDtoItemList[__${iterStat.index}__].optionProductSinglePrice}"/>
              </label>
              <div hidden="hidden" th:id="'packageSelectContainer[' + ${iterStat.index} + ']'">
                <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                        th:onchange="handleOnPackageProductSelectChange(this, [[${iterStat.index}]])">
                  <option th:attr="data-option-product-id = '-1',
                                                 data-option-product-price = '0'">
                    == 포장지 선택 ==
                  </option>
                  <option th:each="packageDto : ${packageList}" th:value="${packageDto.productId}"
                          th:text="${packageDto.packagingName} + ' - ' + ${packageDto.productPriceSales} + '원'"
                          th:attr="data-option-product-id = ${packageDto.productId},
                                                 data-option-product-price=${packageDto.productPriceSales},
                                                 data-option-product-name=${packageDto.packagingName}"
                  >
                  </option>
                </select>
              </div>
            </td>
            <td th:hidden="${orderDetailDto.packableProduct}">
              포장불가능한 상품입니다
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <hr/>

      <div>
        <h4>배송지 정보</h4>
        <div>
          <span class="btn-group" role="group">
                <button type="button" onclick="daumPost()" class="btn yellow-btn"
                        data-bs-toggle="modal" data-bs-target="#addressRegisterModal"
                        style="font-size: small; padding: 0; height: 30px; width: 90px;">주소등록</button>
                    <button type="button" class="btn yellow-btn" data-bs-toggle="modal"
                            data-bs-target="#addressSelectModal"
                            style="font-size: small; padding: 0; height: 30px; width: 90px;">주소선택</button>
            </span>
        </div>
      </div>
      <div>
        <div>(필수) 주소를 선택해 주세요</div>
        <div class="border border-secondary-subtle rounded" id="selectedAddressInfo"
             style="width: 60%; padding: 1%; margin: 1%" hidden="hidden">
          <div>
            <span id="addressNickname"></span>
          </div>
          <div>
            <label>
              <input class="readonly-input" th:field="*{addressZipCode}" readonly required/>
            </label>
          </div>
          <div>
            <label style="width: 100%">
              <input class="readonly-input" th:field="*{deliveryAddress}" readonly required/>
            </label>
          </div>
        </div>
      </div>

      <hr/>

      <div>
        <h4>연락처 정보</h4>
        <div>전화번호
          <span class="btn-group" role="group">
              <button type="button" class="btn yellow-btn" data-bs-toggle="modal"
                      data-bs-target="#phoneNumberRegisterModal"
                      style="font-size: small; padding: 0; height: 30px; width: 90px;">번호등록</button>
              <button type="button" class="btn yellow-btn" data-bs-toggle="modal"
                      data-bs-target="#phoneNumberSelectModal"
                      style="font-size: small; padding: 0; height: 30px; width: 90px;">번호선택</button>
          </span>
        </div>
        <div>
          <div>(필수) 전화번호를 선택해 주세요</div>
          <div class="border border-secondary-subtle rounded" id="selectedPhoneNumberForm"
               style="width: 30%; padding: 1%; margin: 1%" hidden="hidden">
            <div>
              <label>
                <input class="readonly-input" th:field="*{phoneNumber}" readonly required/>
              </label>
            </div>
          </div>
        </div>
      </div>

      <hr/>

      <div>
        <h4>배송날짜 지정</h4>
        <label>
          <input type="checkbox" th:field="*{useDesignatedDeliveryDate}"
                 onclick="toggleCalendar(this.checked, 'designatedDeliveryDate')"> (선택) 배송날짜를 지정합니다
          <div>(배송날짜를 지정하지 않을 경우 가장 빠른 날짜에 배송됩니다)</div>
        </label>
        <br/>
        <label th:for="designatedDeliveryDate">
          <input type="date" th:field="*{designatedDeliveryDate}" value="" hidden="hidden"/>
        </label>
      </div>

      <hr/>

      <div>
        <h4>쿠폰 적용</h4>
        <div class="coupons">
          <button type="button" class="btn yellow-btn" th:onclick="loadCouponList()" data-bs-toggle="modal" data-bs-target="#couponSelectModal" id="use-coupon" style="font-size: small; padding: 0; height: 30px; width: 90px">쿠폰 선택하기</button>
          <div id="selectedCouponForm"></div>
        </div>
        <div>(쿠폰 중복 적용 불가합니다)</div>
        <div hidden="hidden" id="selectedCouponInfo">
          <div class="border border-secondary-subtle rounded" style="width: 40%; padding: 1%; margin: 1%">
            <label hidden="hidden">
              <input class="readonly-input" th:field="*{couponId}">
            </label>
            <div>
              선택한 쿠폰: <span id="selectedCouponName"></span>
            </div>
            <div>
              할인 금액:
              <span class="readonly-input" id="selectedCouponDiscountAmount">0</span>
            </div>
            <div>
              <button type="button" class="btn btn-outline-danger" onclick="cancelApplicatedCoupon()">쿠폰적용 취소</button>
            </div>
          </div>
        </div>
      </div>

      <hr/>

      <div>
        <h4>포인트 사용</h4>
        <div class="remaining-points">
          <label for="remaining-points"> 사용 가능 포인트: </label>
          <span id="remaining-points" th:text="${usablePoint}"></span>
        </div>
        <div class="use-points">
          <label th:for="usedPointDiscountAmount"> 사용할 포인트:
            <input type="number" id="inputUsedPointAmount" min="0" th:value="0" oninput="this.value = this.value.replace(/[^0-9]/g, '')"/>
          </label>
          <button type="button" class="btn yellow-btn" onclick="applyPoints()" style="font-size: small; padding: 0; height: 30px; width: 90px">적용하기</button>
        </div>
      </div>

      <hr/>

      <div>
        <h4>예상 적립금</h4>
        <div>
          (결제 금액의 <span id="pointAccumulationRate" th:text="${pointAccumulationRate}"></span>%가 적립될 예정입니다)
        </div>
        <div>
          <span> 적립 예정 포인트: </span>
          <input class="readonly-input" th:field="*{accumulatePoint}" readonly>
        </div>
      </div>

      <hr/>

      <div>
        <h4>결제수단</h4>
        <div th:each="paymentMethod : ${paymentMethodList}">
          <label>
            <input type="radio" th:field="*{paymentMethod}" th:value="${paymentMethod.paymentMethodTypeName}"/>
            [[${paymentMethod.paymentMethodTypeName}]]
          </label>
        </div>
      </div>

    </div>

    <div class="sub-container right-sub-container">
      <div style="position: fixed; background-color: white; border-radius: 15px; border: 1px solid gray; padding: 20px">
        <h5>결제 금액</h5>
        <div>(<span id="minPurchasePrice" th:text="${shippingPolicy.minPurchaseAmount}"></span>원 이상 구매시
          무료배송)
          <input id="originalShippingFee" th:value="${shippingPolicy.shippingFee}" hidden="hidden">
        </div>

        <div style="margin-top: 20px; margin-bottom: 20px">
          <div>
            <span>배송비: </span>
            <span>
            <label>
              <input class="readonly-input" th:field="*{shippingFee}" readonly/>
            </label>
          </span>
          </div>
          <div>
            <span>상품 총 금액: </span>
            <span>
            <label>
              <input class="readonly-input" th:field="*{productTotalAmount}" readonly/>
            </label>
          </span>
          </div>
          <div>
            <span>쿠폰 할인 금액: </span>
            <span>
            <label>
              <input class="readonly-input" th:field="*{couponDiscountAmount}" th:value="0" readonly/>
            </label>
          </span>
          </div>
          <div>
            <span>포인트 사용 금액: </span>
            <span>
            <label>
              <input class="readonly-input" th:field="*{usedPointDiscountAmount}" th:value="0" readonly/>
            </label>
          </span>
          </div>
          <div>
            <span>예상 결제 금액: </span>
            <span>
            <label>
                <input class="readonly-input" th:field="*{payAmount}" readonly/>
            </label>
          </span>
          </div>
        </div>

        <button type="submit" class="btn text-white" style="background-color:#ecb54f; width: 100%;">
          결제하기
        </button>
      </div>
    </div>
  </div>

</form>


<!-- 주소선택 Modal -->
<div class="modal fade" id="addressSelectModal" tabindex="-1" aria-labelledby="addressSelectModal"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addressSelectModalModalLabel">주소를 선택해 주세요</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="address-select-modal-body">
        <!--내용 들어갈 자리-->
      </div>
    </div>
  </div>
</div>

<!-- 주소등록 Modal -->
<div class="modal fade" id="addressRegisterModal" tabindex="-1"
     aria-labelledby="addAddressModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAddressModalLabel">주소를 등록해 주세요</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" id="addressRegisterModalClose"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="clientDeliveryZipCode">우편번호</label>
          <div class="input-group">
            <input type="text" class="form-control" id="clientDeliveryZipCode" placeholder="우편번호" required="required" readonly="readonly">
            <button type="button" class="btn btn-secondary" onclick="daumPost()">찾기</button>
          </div>
        </div>
        <div class="form-group">
          <label for="clientDeliveryAddress">주소</label>
          <input type="text" class="form-control" id="clientDeliveryAddress" placeholder="주소" required="required" readonly="readonly">
        </div>
        <div class="form-group">
          <label for="clientDeliveryAddressDetail">상세 주소</label>
          <input type="text" class="form-control" id="clientDeliveryAddressDetail" placeholder="상세 주소" required="required">
        </div>
        <div class="form-group">
          <label for="clientDeliveryAddressNickname">주소 별칭</label>
          <input type="text" class="form-control" id="clientDeliveryAddressNickname" placeholder="주소 별칭" required="required">
        </div>

        <div id="postcodeModal"
             style="display:none; position:absolute; top:0; left:0; width:100%; height:100%; background:white; z-index:1050;">
          <div id="postcodeEmbed" style="display: block;"></div>
          <button type="button" class="btn btn-secondary" onclick="closePostcodeModal()">취소
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        <button type="submit" class="btn btn-outline-warning" id="saveButton"
                onclick="addressRegisterOnOrderPage(this)">
          등록
          <span id="addressRegisterBtnSpinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 번호선택 Modal -->
<div class="modal fade" id="phoneNumberSelectModal" tabindex="-1"
     aria-labelledby="phoneNumberSelectModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="phoneNumberSelectModalModalLabel">전화번호를 선택해 주세요</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body" id="phoneNumber-select-modal-body">
        <!-- 데이터 들어갈 자리 -->
      </div>
    </div>
  </div>
</div>

<!-- 번호 등록 Modal -->
<div class="modal fade" id="phoneNumberRegisterModal" tabindex="-1"
     aria-labelledby="phoneNumberRegisterModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="phoneNumberRegisterModalModalLabel">전화번호를 등록해 주세요</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                id="phoneNumberRegisterModalClose" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label>핸드폰 번호:
          <input type="text" class="form-control" id="newPhoneNumber"
                 oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                 required/>
          <button type="button" class="btn btn-outline-secondary"
                  onclick="phoneNumberRegisterOnOrderPage(this)">
            등록
            <span id="phoneNumberRegisterBtnSpinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
          </button>
        </label>
      </div>
    </div>
  </div>
</div>

<!--쿠폰선택 Modal-->
<div class="modal fade" id="couponSelectModal" tabindex="-1" aria-labelledby="couponSelectModal"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="couponSelectModalLabel">쿠폰을 선택해 주세요</h1>
        <button type="button" id="couponSelectModalClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="coupon-select-modal-body">
        <!--내용 들어갈 자리-->
      </div>
    </div>
  </div>
</div>

</body>

<script th:inline="javascript">

  <!-- 쿠폰 불러오기 -->
  function loadCouponList() {

    console.log("쿠폰 정보 불러오기");

    const modal = document.getElementById("couponSelectModal");
    const couponSelectModalBody = document.getElementById("coupon-select-modal-body");
    couponSelectModalBody.innerHTML = "";

    // 상품 총금액
    const itemList = [[${itemList}]];
    const requestProductAndOptionTotalPrice = document.getElementById("productTotalAmount").value;
    let requestOrderItemList = [];

    itemList.forEach(detail => {

      requestOrderItemList.push({
        productId: detail.productId,
        quantity: detail.quantity,
        categoryIdList: detail.categoryIdList
      });

    });

    fetch("/client/order/coupon-info", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        orderItemList: requestOrderItemList,
        productAndOptionTotalPrice: requestProductAndOptionTotalPrice
      })
    })
    .then(response => {
      if(!response.ok){
        throw new Error("API 호출 오류가 발생했습니다.");
      }
      return response.json();
    })
    .then(response => {
      updateCouponList(response);
    })
    .catch(error => {
      console.log(error);
      const errorDiv = document.createElement('div');
      errorDiv.innerText = "쿠폰 조회에 실패했습니다. 다시 시도하세요!";
      couponSelectModalBody.append(errorDiv);
    });

    modal.style.display = 'none';

  }




</script>
</html>