<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="tmpClientOrderFragment ('clientOrder2', 'clientOrderDiscount', 'clientOrderPayMethod')">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:if="${tmpClientOrder != null} and ${#strings.equals(tmpClientOrder, 'clientOrder2')}">
        <div th:replace="~{view/order/clientOrder2.html :: clientOrder2Fragment}"></div>
    </div>
    <div th:if="${tmpClientOrder != null} and ${#strings.equals(tmpClientOrder, 'clientOrderDiscount')}">
        <div th:replace="~{view/order/clientOrderDiscount.html :: clientOrderDiscountFragment}"></div>
    </div>
    <div th:if="${tmpClientOrder != null} and ${#strings.equals(tmpClientOrder, 'clientOrderPayMethod')}">
        <div th:replace="~{view/order/clientOrderPayMethod.html :: clientOrderPayMethodFragment}"></div>
    </div>
</body>
</html>