<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Refund Management</title>
</head>
<body>
<h1>Refund Management</h1>

<form id="refund-form" th:action="@{/client/order/{orderId}/refund(orderId=${orderId})}" method="post">
    <label for="reason">Reason:</label>
    <select id="reason" name="reason">
      <option value="배송지 오입력">배송지 오입력</option>
      <option value="단순 변심">단순 변심</option>
      <option value="다른 상품 추가 후 재주문 예정">다른 상품 추가 후 재주문 예정</option>
      <option value="기타">기타</option>
    </select>


    <label for="detail">Detail:</label>
    <textarea id="detail" name="cancelReason" maxlength="500"></textarea>

  <input type="hidden" name="paymentKey" th:value="${dto.getTossPaymentKey()}">
  <input type="hidden" name="orderStatus" th:value="${dto.getOrderStatus()}">
  <input type="hidden" name="paymentId" th:value="${dto.getPaymentId()}">

  <button type="submit" id="action-button">환불하러 가기</button>
</form>
</body>
</html>
