<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="mypageFragment ('mypage', 'profile', 'clientDeliveryAddresses', 'clientPhoneNumber')">
<head>
    <meta charset="UTF-8">
    <title>Account Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/mypage/style.css}">
</head>
<div class="mypage-container">
    <div th:replace="~{view/mypage/sideBar :: sidebarFragment}"></div>

    <div class="mypage-wrapper" th:if="${mypage != null} and ${#strings.equals(mypage, 'profile')}">
        <div th:replace="~{view/mypage/profile :: profileFragment ('profile')}"></div>
    </div>

    <div class="mypage-wrapper" th:if="${mypage != null} and ${#strings.equals(mypage, 'delivaryaddress')}">
        <div th:replace="~{view/mypage/delivaryAddress :: delivaryAddressFragment ('clientDeliveryAddresses')}"></div>
    </div>

    <div class="mypage-wrapper" th:if="${mypage != null} and ${#strings.equals(mypage, 'phoneNumber')}">
        <div th:replace="~{view/mypage/phoneNumber :: phoneNumberFragment ('clientPhoneNumber')}"></div>
    </div>

    <div class="mypage-wrapper" th:if="${mypage != null} and ${#strings.equals(mypage, 'withdrawal')}">
        <div th:replace="~{view/mypage/withdrawal :: withdrawalFragment}"></div>
    </div>

    <div class="mypage-wrapper" th:if="${mypage != null} and ${#strings.equals(mypage, 'noPhotoReviews')}">
        <div th:replace="~{view/mypage/noPhotoReviews :: noPhotoReviewsFragment}"></div>
    </div>

    <div class="mypage-wrapper" th:if="${mypage != null} and ${#strings.equals(mypage, 'photoReviews')}">
        <div th:replace="~{view/mypage/photoReviews :: photoReviewsFragment}"></div>
    </div>

    <div class="mypage-wrapper" th:if="${mypage != null} and ${#strings.equals(mypage, 'coupons')}">
        <div th:replace="~{view/mypage/coupons :: couponsFragment ('coupons')}"></div>
    </div>

</div>
</html>
