<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coupon Policies</title>
    <link rel="stylesheet" th:href="@{/css/coupon/admin_policy_list.css}">
</head>
<body>
<div class="container">
    <a class="create-btn" href="/admin/coupon/policy/register">쿠폰 정책 생성</a>
    <h1 class="text-2xl font-bold mb-6">Coupon Policies</h1>
    <div class="grid">
        <div th:each="couponPolicy : ${couponPolicies}">
            <div class="card">
                <h2 class="text-lg font-bold" th:text="${couponPolicy.discountType}">Discount Type</h2>
                <p class="products" th:text="${couponPolicy.productId != null ? '도서 명 : ' + couponPolicy.productId : ''}"></p>
                <p class="category" th:text="${couponPolicy.productCategoryId != null ? '카테고리 : ' + couponPolicy.productCategoryId : ''}"></p>
                <p th:text="${couponPolicy.couponPolicyDescription}">Coupon Policy Description</p>
                <p class="discount" th:text="'할인금액: ' + ${couponPolicy.discountValue} + '원 할인최소금액: ' + ${couponPolicy.minPurchaseAmount} + ', 할인최대금액: ' + ${couponPolicy.maxDiscountAmount}"></p>
                <div class="flex justify-end">
                    <a th:href="'/admin/coupon/register/' + ${couponPolicy.couponPolicyId}" target="_blank" class="btn">쿠폰 선택</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Pagination controls -->
    <div th:if="${couponPolicies.totalPages > 1}"class="pagination">
        <a th:href="@{/admin/coupon/policy(page=${couponPolicies.number - 1})}" th:if="${couponPolicies.hasPrevious()}"  id="prevBtn">&laquo; Previous</a>
        <a th:each="pageNum : ${#numbers.sequence(0, couponPolicies.totalPages - 1)}"
           th:classappend="${pageNum == couponPolicies.number} ? 'active'"
           th:href="@{/admin/coupon/policy(page=${pageNum})}" th:text="${pageNum + 1}">1</a>
        <a th:href="@{/admin/coupon/policy(page=${couponPolicies.number + 1})}" th:if="${couponPolicies.hasNext()}" id="nextBtn">Next &raquo;</a>
    </div>
</div>
<script>
    function navigateToPolicyRegistration() {
        window.location.href = '/admin/coupon/policy/register';
    }
</script>
</body>
</html>
