<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coupon Policy Registration</title>
    <link rel="stylesheet" href="/static/css/coupon/admin_policy_register.css">
</head>
<body>
<div class="container mx-auto px-4 py-8">
    <h1 class="text-2xl font-bold mb-6">Coupon Policy Registration</h1>
    <form action="/api/coupon/policy/register" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="bookType">
                Book Type
            </label>
            <select
                    class="input"
                    id="bookType"
                    onchange="toggleInput(this.value)"
            >
                <option value="">Select Book Type</option>
                <option value="none">선택안함</option>
                <option value="book">도서명</option>
                <option value="category">카테고리</option>
            </select>
        </div>
        <div id="bookNameInput" class="mb-4 hidden">
            <label class="block text-gray-700 font-bold mb-2" for="bookName">
                Book Name
            </label>
            <select
                    class="input"
                    id="bookName"
            >
                <option value="">선택안함</option>
                <option value="book1">Book 1</option>
                <option value="book2">Book 2</option>
                <option value="book3">Book 3</option>
            </select>
        </div>
        <div id="categoryInput" class="mb-4 hidden">
            <label class="block text-gray-700 font-bold mb-2" for="bookCategory">
                Book Category
            </label>
            <select
                    class="input"
                    id="bookCategory"
            >
                <option value="">선택안함</option>
                <option value="category1">Category 1</option>
                <option value="category2">Category 2</option>
                <option value="category3">Category 3</option>
            </select>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="couponPolicyDescription">
            쿠폰 정책 설명</label>
            <textarea
                    class="input"
                    id="couponPolicyDescription"
                    name="couponPolicyDescription"
                    rows="3"
                    placeholder="쿠폰 정책 설명을 입력하세요."
            ></textarea>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="discountType">
                Discount Type
            </label>
            <select
                    class="input"
                    id="discountType"
                    name="discountType"
            >
                    <option value="">할인 유형 선택</option>
                    <option th:each="discountType : ${discountTypes}" th:text="${discountType}"></option>
            </select>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2">
                할인 금액
            </label>
            <div class="flex items-center">
                <input
                        class="mr-2"
                        type="radio"
                        id="discountAmountType1"
                        name="discountAmountType"
                        value="amount"
                        onchange="toggleDiscountInput(this.value)"
                />
                <label class="mr-4" for="discountAmountType1">할인금액</label>
                <input
                        class="mr-2"
                        type="radio"
                        id="discountAmountType2"
                        name="discountAmountType"
                        value="percentage"
                        onchange="toggleDiscountInput(this.value)"
                />
                <label for="discountAmountType2">할인율</label>
            </div>
            <input
                    class="input"
                    id="discountInput"
                    name="discountValue"
                    type="number"
                    placeholder=""
                    style="display: none;"
            />
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="minPurchaseAmount">
                최소 할인금액</label>
            <input
                    class="input"
                    id="minPurchaseAmount"
                    name="minPurchaseAmount"
                    type="number"
                    placeholder="최소 할인금액을 입력해주세요."
            />
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="maxDiscountAmount">
                최대 할인금액
            </label>
            <input
                    class="input"
                    id="maxDiscountAmount"
                    name="maxDiscountAmount"
                    type="number"
                    placeholder="최대 할인금액을 입력해주세요."
            />
        </div>
        <div class="flex items-center justify-between">
            <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit"
            >
                저장
            </button>
            <button
                    class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button"
            >
                취소
            </button>
        </div>
    </form>
</div>

<script>
    function toggleInput(value) {
        const bookNameInput = document.getElementById('bookNameInput');
        const categoryInput = document.getElementById('categoryInput');

        // Hide all inputs initially
        bookNameInput.classList.add('hidden');
        categoryInput.classList.add('hidden');

        // Show corresponding input based on selected value
        if (value === 'book') {
            bookNameInput.classList.remove('hidden');
        } else if (value === 'category') {
            categoryInput.classList.remove('hidden');
        }
    }
    function toggleDiscountInput(value) {
        const discountInput = document.getElementById('discountInput');

        if (value === 'amount') {
            discountInput.placeholder = '할인 금액을 입력하세요.';
            discountInput.style.display = 'block';
            discountInput.setAttribute('type', 'number');
            discountInput.setAttribute('min', '0');
        } else if (value === 'percentage') {
            discountInput.placeholder = '할인율을 설정해주세요. 0~100만 설정할수 있습니다.';
            discountInput.style.display = 'block';
            discountInput.setAttribute('type', 'number');
            discountInput.setAttribute('min', '0');
            discountInput.setAttribute('max', '100');
        }
    }
</script>

</body>
</html>
