<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coupon Policy Registration</title>
    <link rel="stylesheet" th:href="@{/css/coupon/admin_policy_register.css}">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<div class="container mx-auto px-4 py-8">
    <h1 class="text-2xl font-bold mb-6">Coupon Policy Registration</h1>
    <form action="/admin/coupon/policy/register" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="bookType">
                Book Type
            </label>
            <input type="hidden" id="selectedId" name="id">
            <input type="hidden" id="selectedName" name="name">
            <select class="input" id="bookType" onchange="toggleInput(this.value)" name="bookType">
                <option value="">Select Book Type</option>
                <option value="none">선택안함</option>
                <option value="book">도서명</option>
                <option value="category">카테고리</option>
            </select>
        </div>
        <div id="bookNameInput" class="mb-4 hidden">
            <label class="block text-gray-700 font-bold mb-2" for="bookName">
                Book Name
            </label>

            <button id="bookName" type="button" onclick="openBookSelectWindow()">상품 선택</button>
            <div>
                <h3>선택된 상품:</h3>
                <p id="selectedBookInfo">선택된 상품: <span id="selectedBookName"></span></p>
            </div>

        </div>

        <div id="categoryInput" class="mb-4 hidden">
            <label class="block text-gray-700 font-bold mb-2" for="bookCategory">
                Book Category
            </label>
            <button id="bookCategory" type="button" onclick="openCategorySelectWindow()">카테고리 선택</button>
            <p id="selectedCategoryInfo">선택된 카테고리: <span id="selectedCategoryName"></span></p>

        </div>

        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="couponPolicyDescription">
                쿠폰 정책 설명
            </label>
            <textarea class="input" id="couponPolicyDescription" name="couponPolicyDescription" rows="3" placeholder="쿠폰 정책 설명을 입력하세요."></textarea>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="discountType">
                Discount Type
            </label>
            <select class="input" id="discountType" name="discountType" onchange="toggleDiscountInput(this.value)">
                <option value="">할인 유형 선택</option>
                <option th:each="discountType : ${discountTypes}" th:value="${discountType}" th:text="${discountType}"></option>
            </select>
        </div>

        <div class="mb-4 hidden" id="amountDiscountInput">
            <label class="block text-gray-700 font-bold mb-2" for="discountAmount">할인 금액</label>
            <input class="input" id="discountAmount" name="discountValue" type="number" placeholder="할인 금액을 입력하세요." />
        </div>

        <div class="mb-4 hidden" id="percentageDiscountInput">
            <label class="block text-gray-700 font-bold mb-2" for="discountPercentage">할인율</label>
            <input class="input" id="discountPercentage" name="discountValue" type="number" min="0" max="100" placeholder="할인율을 입력하세요. 0~100 사이 값만 설정할 수 있습니다." />
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="minPurchaseAmount">최소 할인금액</label>
            <input class="input" id="minPurchaseAmount" name="minPurchaseAmount" type="number" placeholder="최소 할인금액을 입력하세요." />
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="maxDiscountAmount">최대 할인금액</label>
            <input class="input" id="maxDiscountAmount" name="maxDiscountAmount" type="number" placeholder="최대 할인금액을 입력하세요." />
        </div>

        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">저장</button>
            <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">취소</button>
        </div>
    </form>
</div>

<script>
    function openBookSelectWindow() {
        window.open('/admin/coupon/books', 'selectBookWindow', 'width=1000,height=1500');
    }

    function openCategorySelectWindow() {
        firstPopup = window.open('/admin/categories/all', 'selectCategoryWindow', 'width=600,height=400');
    }

    function toggleInput(value) {
        const bookNameInput = document.getElementById('bookNameInput');
        const categoryInput = document.getElementById('categoryInput');

        // Hide all inputs initially
        bookNameInput.classList.add('hidden');
        categoryInput.classList.add('hidden');

        // Show corresponding input based on selected value
        if (value === 'book') {
            bookNameInput.classList.remove('hidden');
        } else if (value === 'category') {
            categoryInput.classList.remove('hidden');
        }
    }

    function toggleDiscountInput(value) {
        const amountDiscountInput = document.getElementById('amountDiscountInput');
        const percentageDiscountInput = document.getElementById('percentageDiscountInput');
        const discountAmount = document.getElementById('discountAmount');
        const discountPercentage = document.getElementById('discountPercentage');
        amountDiscountInput.classList.add('hidden');
        percentageDiscountInput.classList.add('hidden');
        discountAmount.disabled = true;
        discountPercentage.disabled = true;
        if (value === 'AMOUNTDISCOUNT') {
            amountDiscountInput.classList.remove('hidden');
            discountAmount.disabled = false;
        } else if (value === 'PERCENTAGEDISCOUNT') {
            percentageDiscountInput.classList.remove('hidden');
            discountPercentage.disabled = false;
        }
    }
    window.addEventListener('message', function(event) {
        // 메시지가 'categoryData'인 경우 처리
        if (event.data.type === 'categoryData') {
            const selectedCategoryId = event.data.id;
            const selectedCategoryName = event.data.name;
            document.getElementById('selectedId').value = selectedCategoryId;
            document.getElementById('selectedCategoryName').textContent = selectedCategoryName;
            document.getElementById('selectedCategoryInfo').style.display = 'block';
            document.getElementById('selectedName').value = "카테고리";
        }else {
            // If not categoryData event, set default values
            document.getElementById('selectedId').value = -1; // Default id for no selection
            document.getElementById('selectedCategoryName').textContent = ''; // Clear text content
            document.getElementById('selectedCategoryInfo').style.display = 'none'; // Hide category info
            document.getElementById('selectedName').value = ''; // Default name for no selection
        }

        if (event.origin === window.location.origin) {
            const selectedBook = event.data.selectedBook;

            if (selectedBook) {
                document.getElementById('selectedId').value = selectedBook.productId;
                document.getElementById('selectedBookName').textContent = selectedBook.productName;
                document.getElementById('selectedBookInfo').style.display = 'block';
                document.getElementById('selectedName').value = "상품";
            }else {
                // If not selectedBook event, set default values
                document.getElementById('selectedId').value = -1; // Default id for no selection
                document.getElementById('selectedBookName').textContent = ''; // Clear text content
                document.getElementById('selectedBookInfo').style.display = 'none'; // Hide book info
                document.getElementById('selectedName').value = ''; // Default name for no selection
            }
        }
    });
</script>

</body>
</html>
