<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>상품 선택</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 2rem;
        }
        .productImage {
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>상품 선택</h1>

    <form id="bookForm">
        <button type="button" onclick="selectBook()">선택 완료</button>
    </form>

    <div class="container">
        <table>
            <tr th:each="book : ${books}">
                <td><input type="radio" name="selectedBook" th:value="${book.productId()} + ' ' + ${book.productName()} + ' ' + ${book.productPriceStandard()} + ' ' + ${book.productPriceSales()}"></td>
                <td><img th:src="${book.productThumbNailImage()}" alt="Product Image" class="productImage"></td>
                <td>
                    <div>
                        <p th:text="${book.productName()}"></p>
                        <p>정가: <span th:text="${book.productPriceStandard()}"></span></p>
                        <p>할인가: <span th:text="${book.productPriceSales()}"></span></p>
                    </div>
                </td>
                <td th:text="${book.productState()}"></td>
            </tr>
        </table>
    </div>
</div>

<script>
    function selectBook() {
        var selectedBook = document.querySelector('input[name="selectedBook"]:checked');

        if (selectedBook) {
            const value = selectedBook.value.split(' ');

            let productId = value[0]; // productId를 문자열로 가져옵니다
            let productName = value[1]; // 제품 이름을 가져옵니다

            // 선택된 책 정보 객체
            let selectedBookDetails = {
                productId: productId,
                productName: productName,

            };

            // 선택된 책 정보 표시
            var selectedBookMessage = `선택된 책:\nID: ${selectedBookDetails.productId}, 이름: ${selectedBookDetails.productName}`;
            alert(selectedBookMessage);

            // 선택된 책 정보를 메인 창으로 전송
            window.opener.postMessage({ selectedBook: selectedBookDetails }, window.location.origin);

            // 새 창 닫기
            window.close();
        } else {
            alert('선택된 책이 없습니다.');
        }
    }
</script>
</body>
</html>
