<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #preview{
        width: 500px;
    }
</style>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('preview').src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            document.getElementById('preview').src = "";
        }
    }

    function openPackagingSearch(){
        var url = "/product/packaging/all";

        var newWindowWidth = 600;  // 새 창의 너비
        var newWindowHeight = 750; // 새 창의 높이

        var availWidth = screen.availWidth;
        var availHeight = screen.availHeight;
        var left = Math.max(0, (availWidth - newWindowWidth) / 2);
        var top = Math.max(0, (availHeight - newWindowHeight) / 2);
        // 새 창 열기
        var newWindow = window.open(url, "_blank", "width=" + newWindowWidth + ",height=" + newWindowHeight + ",top=" + top + ",left=" + left);

        newWindow.focus();
    }

</script>
<body>
<form action="/admin/product/packaging/register" method="post" enctype="multipart/form-data">
    <input type="file" name="image" onchange="readURL(this)" accept="image/jpeg,image/png,image/jpg">
    포장지명 <input type="text" name="packagingName" required>
    상품명 <input type="text" name="productName" required>
    <input type="hidden" name="productThumbnailUrl" value="value~">
    설명 <input type="text" name="productDescription" required>
    정가 <input type="number" name="productPriceStandard" min="1" required>
    판매가 <input type="number" name="productPriceSales" min="1" required>
    재고 <input type="number" name="productInventory" min="1" required>
    <div>
        <img id="preview"  width="800px"/>
    </div>

    <button type="submit" value="제출~"></button>
</form>
<button onclick="openPackagingSearch()"></button>
</body>
</html>