<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="newbooksFragment ('newBooks')">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<div th:replace="~{icon/icon :: iconAsset}"></div>

<section id="new-books" class="new-book my-5 overflow-hidden">
    <div class="container pb-5">

        <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
            <h2 class="display-8 fw-normal">신간</h2>
            <div>
                <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
                    전체보기
                    <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                        <use xlink:href="#arrow-right"></use>
                    </svg></a>
            </div>
        </div>

        <div class="products-carousel swiper">
            <div class="swiper-wrapper">

                <div th:if="${newBooks != null}" th:each="book : ${newBooks}" class="swiper-slide" style="max-width: 230px;">
                    <div class="card position-relative">
                        <a th:href="@{/product/books/{id}(id = ${book.bookId})}"><img th:src="${book.cover}" class="img-fluid rounded-4" alt="image" style="height: 360px"></a>
                        <div class="card-body p-0">
                            <a th:href="@{/product/books/{id}(id = ${book.bookId})}">
                                <h3 class="custom card-title pt-4 m-0" th:text="${book.title}"></h3>
                            </a>
                            <h3 class="secondary-font text-primary"><span th:text="${book.productPriceSales}"></span>원</h3>
                            <div class="d-flex flex-wrap mt-3">
                                <a href="#" class="btn-cart me-3 px-3 pt-3 pb-3">
                                    <h6 class="text-uppercase m-0">장바구니 추가</h6>
                                </a>
                                <a href="#" class="btn-wishlist px-3 pt-3 ">
                                    <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- / products-carousel -->


    </div>
</section>
</html>