<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="https://static.toss.im/icons/png/4x/icon-toss-logo.png" />
  <link rel="stylesheet" type="text/css" href="/css/payment/style.css" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>결제 실패 창</title>
<!--  &lt;!&ndash; 결제위젯 SDK 추가 &ndash;&gt;-->
<!--  <script src="https://js.tosspayments.com/v1/payment-widget"></script>-->
</head>

<body>
<h1>결제 실패</h1>
<script>
</script>
</body>
</html>