<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>네이버 결제하기</title>
  <!-- 네이버페이 결제창 SDK 추가 -->
  <script src="https://nsp.pay.naver.com/sdk/js/naverpay.min.js"></script>
</head>
<body>


<script th:inline="javascript">
  // 클라이언트 키로 객체 초기화
  var oPay = Naver.Pay.create({
    "mode" : "development", // development or production
    "clientId": "HN3GGCMDdTgGUfl0kFCo", // clientId
    "chainId": "by9qbU1YS0NCZ3l", // chainId
  });

  // 페이지 로드 시 결제 창 띄우기
  window.onload = function() {
    oPay.open({
      productName: `[[${productName}]]`,// 주문번호(주문번호는 상점에서 직접 만들어주세요.)
      merchantPayKey: `[[${merchantPayKey}]]`,// 주문번호(주문번호는 상점에서 직접 만들어주세요.)
      totalPayAmount: `[[${totalPayAmount}]]`, // 결제 총 금액
      taxScopeAmount:  `[[${taxScopeAmount}]]`, // 과세 금액
      taxExScopeAmount: `[[${taxExScopeAmount}]]`, // 면세 금액
      returnUrl: `[[${returnUrl}]]` // 성공 url
    });
  };

</script>

</body>
</html>
