<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>결제 상태</title>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
    .success, .failure {
      background-color: #f1f1f1;
      padding: 20px;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    .success p, .failure p {
      margin: 10px 0;
    }
    .success span, .failure span {
      font-weight: bold;
    }
  </style>
</head>
<body>
<!--<th:block th:if="${#strings.equals(isSuccess, 'true')}">-->
  <div class="success">

    <h1>결제 성공</h1>
    <p>주문명: <span th:text="${tossPaymentsResponseDto.getOrderName()}"></span></p>
    <p>총 결제금액: <span th:text="${tossPaymentsResponseDto.getTotalAmount()}"></span></p>
    <p>결제 방식: <span th:text="${tossPaymentsResponseDto.getMethod()}"></span></p>
    <th:block th:switch="${tossPaymentsResponseDto.getMethod()}">
      <p th:case="'카드'">카드번호: <span th:text="${tossPaymentsResponseDto.cardNumber}"></span></p>
      <p th:case="'가상계좌'">계좌번호: <span th:text="${tossPaymentsResponseDto.accountNumber}"></span></p>
      <p th:case="'계좌이체'">은행: <span th:text="${tossPaymentsResponseDto.bank}"></span></p>
      <p th:case="'휴대폰'">고객 휴대폰: <span th:text="${tossPaymentsResponseDto.customerMobilePhone}"></span></p>
    </th:block>
  </div>
</th:block>
<th:block th:if="${#strings.equals(isSuccess, 'false')}">
  <div class="failure">
    <h1>결제 실패</h1>
    <p>에러 메시지: <span th:text="${message}"></span></p>
    <p>에러 코드: <span th:text="${code}"></span></p>
  </div>
</th:block>
<span th:text="${couponResponse == false ? '쿠폰이 정상적으로 소모되지 않았습니다. 이 메시지는 관리자에게 전송됩니다.' : ''}"></span>
<span th:text="${pointUseResponse == false ? '포인트가 정상적으로 소모되지 않았습니다. 이 메시지는 관리자에게 전송됩니다.' : ''}"></span>
<span th:text="${pointAccumulateResponse == false ? '포인트가 정상적으로 적립되지 않았습니다. 이 메시지는 관리자에게 전송됩니다.' : ''}"></span>
<span th:text="${productReduceInventoryResponse == false ? '재고가 정상적으로 처리되지 않았습니다. 이 메시지는 관리자에게 전송됩니다.' : ''}"></span>
<span th:text="${changeOrderStatusCompletePaymentResponse == false ? '결제 이후 주문이 결제 완료로 정상적으로 변경되지 않았습니다. 이 메시지는 관리자에게 전송됩니다.' : ''}"></span>
</body>
</html>
