<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Welcome to the Review App</h1>
  <div class="btn-group" role="group" aria-label="Review options">
    <a href="/view/photo-reviews" class="btn btn-primary">사진 리뷰<br/>조회</a>
    <!--임시로 유저아이디를 대입-->
    <a href="/view/photo-reviews/client/1" class="btn btn-primary">사진 리뷰 조회<br/>(유저아이디, 비활성)</a>
    <!--임시로 상품아이디를 대입-->
    <a href="/view/photo-reviews/product/1" class="btn btn-primary">사진 리뷰 조회<br/>(상품아이디)</a>

    <a href="/view/no-photo-reviews" class="btn btn-secondary">사진 없는 리뷰<br/>조회</a>
    <!--임시로 유저아이디를 대입-->
    <a href="/view/no-photo-reviews/client/1" class="btn btn-secondary">사진 없는 리뷰 조회<br/>(유저아이디, 비활성)</a>
    <!--임시로 상품아이디를 대입-->
    <a href="/view/no-photo-reviews/product/1" class="btn btn-secondary">사진 없는 리뷰 조회<br/>(상품아이디)</a>

  </div>
</div>
<div class="container">
  <div class="btn-group" role="group" aria-label="Review options">
    <a href="/view/add-photo-review" class="btn btn-success">사진 리뷰<br/>등록</a>
    <a href="/view/add-no-photo-review" class="btn btn-success">사진 없는 리뷰<br/>등록</a>
    <a href="/view/add-photo-review/1" class="btn btn-success">사진 리뷰 등록<br/>(주문상세아이디=1)</a>
    <a href="/view/add-photo-review/100" class="btn btn-success">사진 리뷰 등록<br/>(주문상세아이디=100)</a>
    <a href="/view/add-no-photo-review/1" class="btn btn-success">사진 없는 리뷰 등록<br/>(주문상세아이디=1)</a>
    <a href="/view/add-no-photo-review/100" class="btn btn-success">사진 없는 리뷰 등록<br/>(주문상세아이디=100)</a>
  </div>
</div>
</body>
</html>



